<h1>DocEntries#index</h1>
<p>Find me in app/views/doc_entries/index.html.erb</p>
<%= render partial: "components/bs-btn", locals: {location: new_doc_entry_path, link_text: 'Create doc entry', qualifier: 'primary'} %>